<h2>
  Characters list
</h2>

<button (click)="getNames()">Refresh</button>
<div class="actor" *ngFor="let aActor of actors">
  <h4>{{aActor.actorName}}</h4>
  <ul>
    <li class="role" *ngFor="let aRole of aActor.roles">{{aRole.roleName + ' (' + aRole.movieName + ')'}}</li>
  </ul>
</div>